// Шрифты==================================================
$OpenSans: 'OpenSans',
sans-serif;
// 400, 600, 700

// Размеры
$fzMain: 14px;
$lhMain: 1.3;

// Цвета==================================================
$colorBg: #FFFFFF;
$colorMain: #333333;
$colorGrey: #828282;

// Для анимаци=============================================
$duration: 0.4s;



// Мексины==================================================

